body {
      background-color: #FFFFFF;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
  }

  h1 {
    color: #2ebec1;
  }

  #mainColumn{
    /* Make more responsive */
    width: 100vw;
    height: 95vh;
    border: 2px solid red;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
  }

  .button{
    padding: 10px;
  }
